
{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container">
         <div>
          {{ form(form.dateDebut) }}
         </div>
        <div>
        {{ form(form.dateFin) }}
        </div>
        <a href="{{ path('app_booking_index') }}">back to list</a>

    </div>

{% endblock %}
